
#section_about{
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
}

#section_about h2 {
    font-size: 2vw;
}

.about{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    position: relative;
    padding-bottom: 5%;
}

.containerAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
}

#about h2{
    font-size: 2vw;
    text-align: center;
}

.section__description{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    padding-right: 5%;
    width: 80%;
}

.imgAbout{
    display: flex;
    align-items: center;
}

.imgAbout img{
    width: 24vw;
    padding-top: 10%;
    border-radius: 50%;
	box-shadow: 5px 5px 26px rgba(0, 0, 0, 0.2)  ; 
	-webkit-box-shadow: 5px 5px 26px rgba(0, 0, 0, 0.2)  ; 
	-moz-box-shadow: 5px 5px 26px rgba(0, 0, 0, 0.2)  ; 
}

.section__description_text{
    max-width: 50vw;
    justify-content: space-around;
    font-size: 1.3vw;
    /* font-size: 1.2rem; */
    text-align: justify;
}

.section__description_list{
    display: flex;
    font-size: 1.3vw;
    padding-right: 5%;
}


@media screen and (max-width:768px){

    .section__description_text{
        font-size: 2vw;
    }

    .section__description_list{
        font-size: 2vw;
    }
    
}
