.background{
    background-image: linear-gradient(
    54deg,rgba(74,76,179,.95) 34%,hsla(0,34%,71%,.95));
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
    color: #fff;
  }

.contacts_header {
    font-size: 2rem;
    text-align: center;
    padding: 2%;
}


.containerEmail{
    display: flex;
    justify-content: center;
    width: 100%;
}

.containerEmail .container{
    width: 50%;
}

.footer{
  display: flex;
  justify-content: center;
}

.FormInput {
  width: 100%;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid #fff;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto Mono,monospace;
}

.FormTextArea{
    width: 100%;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #fff;
    padding: 10px;
    height: 115px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto Mono,monospace;
}

.site-btn.site-btn--form {
  width: 100%;
  border: none!important;
  box-shadow: 0 1px 29px rgba(0,0,0,.16);
  position: relative;
}
::placeholder {
  color: #fff;
}

.site-btn {
  background-color: #6d56c1;
  height: 50px;
  border-radius: 25px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 15px;
  min-width: 170px;
  text-align: center;
  display: inline-block;
  color: #fff!important;
  font-weight: 600;
  overflow: hidden;
  text-decoration: none;
  margin-top: 20px;
}
.site-btn:hover {
  background-color: #7b67c7;
  text-decoration: underline;
}

.containerTextTypewrite{
  height: 3rem;
}

.textTypewrite{
  display: flex;
  align-items: center;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  height: 1vh;
}

