.navBar{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: flex-end;
}

.contenedorList{
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.listBar{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-direction: row;
}

.listBar li {
  padding-right: 2.5rem;
}
