.navBar{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* padding-top: 0.5rem; */
  padding-bottom: 0.5rem;
  justify-content: flex-end;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: rgba(240, 248, 255, 0.089);
}

.contenedorList{
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.listBar{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-direction: row;
  z-index: 1;
}

.listBar li {
  padding-right: 2.5rem;
}


.navBar-btn {
  background-color: #6d56c1;
  /* height: 50px; */
  border-radius: 25px;
  font-size: 14px;
  /* line-height: 20px; */
  text-transform: uppercase;
  padding: 3px;
  min-width: 170px;
  text-align: center;
  display: inline-block;
  color: #fff!important;
  font-weight: 600;
  overflow: hidden;
  text-decoration: none;
  /* margin-top: 20px; */
}

@media screen and (max-width:768px){
  .navBar{
    display: none;
  }
}